# Project exclude paths
/target/

# Exclude this local configuration file to be pushed to the repository
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

#Docker file
Dockerfile

